.container
  .page-header
    = link_to instagram_interactions_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    %h1 New instagram_interaction

  = render 'form'

