.container
  .row
    .center-panel
      %h1 Talking to instagram...

      = progress_bar percentage: 0, animated: true

- content_for :javascripts do
  :javascript
    $( function() {
      var value = 0;
      var update_value = function() {
        value = value + 5;
        if( value > 100 ) {
          window.location = '#{ welcome_show_crush_path }';
        }

        $(".progress-bar").css('width', value+'%').attr('aria-valuenow', value);
      }

      setInterval( update_value, 250 );
    } );