---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=509161.38c3f84.10f08b0e76634691b6740ac2420a0b11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="509161.38c3f84.10f08b0e76634691b6740ac2420a0b11"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4969'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/509161\/media\/recent?access_token=509161.38c3f84.10f08b0e76634691b6740ac2420a0b11\u0026max_id=1010443231994906976_509161","next_max_id":"1010443231994906976_509161"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Juno","created_time":"1446466978","link":"https:\/\/instagram.com\/p\/9lRDX-wQmJ\/","likes":{"count":7,"data":[{"username":"heddabird","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/10538747_1478782922369115_1342617348_a.jpg","id":"2479834","full_name":"Hedda
        Burnett"},{"username":"jothamwb","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfp1\/t51.2885-19\/11887048_849043215181429_1133387827_a.jpg","id":"6678555","full_name":"jothamwb"},{"username":"aschip","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/927956_236144146593687_1234332720_a.jpg","id":"3156819","full_name":"Ali"},{"username":"bschippers718","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xtp1\/t51.2885-19\/11326268_1472786479703760_19158020_a.jpg","id":"3197943","full_name":""}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpf1\/t51.2885-15\/s320x320\/e35\/10254145_488021944701959_1045554281_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpf1\/t51.2885-15\/s150x150\/e35\/10254145_488021944701959_1045554281_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpf1\/t51.2885-15\/s640x640\/sh0.08\/e35\/10254145_488021944701959_1045554281_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1446466978","text":"Redhook
        wall","from":{"username":"wschenk","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xta1\/t51.2885-19\/11374591_955491831180543_1527410442_a.jpg","id":"509161","full_name":"Will
        Schenk"},"id":"1109367883919591512"},"user_has_liked":false,"id":"1109367881914714505_509161","user":{"username":"wschenk","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xta1\/t51.2885-19\/11374591_955491831180543_1527410442_a.jpg","id":"509161","full_name":"Will
        Schenk"}},{"attribution":null,"videos":{"low_bandwidth":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpf1\/t50.2886-16\/11671903_107057672990628_1219664555_s.mp4","width":480,"height":480},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfp1\/t50.2886-16\/10947141_519656141549058_1436781807_n.mp4","width":640,"height":640},"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpf1\/t50.2886-16\/11671903_107057672990628_1219664555_s.mp4","width":480,"height":480}},"tags":[],"type":"video","location":n[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1109367881914714505_509161/likes.json?access_token=509161.38c3f84.10f08b0e76634691b6740ac2420a0b11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="509161.38c3f84.10f08b0e76634691b6740ac2420a0b11"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4968'
      Content-Language:
      - en
      X-Ratelimit-Limit:[...]
[...]
