---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=509161.38c3f84.10f08b0e76634691b6740ac2420a0b11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="509161.38c3f84.10f08b0e76634691b6740ac2420a0b11"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4992'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"wschenk","bio":"","website":"http:\/\/willschenk.com","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11374591_955491831180543_1527410442_a.jpg","full_name":"Will
        Schenk","counts":{"media":680,"followed_by":191,"follows":224},"id":"509161"}}'
  recorded_at: Wed, 28 Oct 2015 00:32:12 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=509161.38c3f84.10f08b0e76634691b6740ac2420a0b11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="509161.38c3f84.10f08b0e76634691b6740ac2420a0b11"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4991'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/509161\/media\/recent?access_token=509161.38c3f84.10f08b0e76634691b6740ac2420a0b11\u0026max_id=1006462272089950592_509161","next_max_id":"1006462272089950592_509161"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Moon","created_time":"1445725991","link":"https:\/\/instagram.com\/p\/9PLu1twQjL\/","likes":{"count":18,"data":[{"username":"kanzao","profile_picture":"http:\/\/photos-e.ak.instagram.com\/hphotos-ak-xap1\/t51.2885-19\/10725084_1616042051956756_968875970_a.jpg","id":"190318257","full_name":"Jonas
        Hermansen"},{"username":"dineshvasudevan","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/10547240_483836381797424_925871161_a.jpg","id":"34727323","full_name":"Dinesh"},{"username":"g.letigre","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/12104953_114163268939591_932664066_a.jpg","id":"55526350","full_name":"Gwyneth
        Alberetti"},{"username":"sassy44a","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/11424689_1648989472002327_2147279009_a.jpg","id":"32729439","full_name":""}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e35\/11349425_1511601642486070_753177743_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e35\/11349425_1511601642486070_753177743_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s640x640\/sh0.08\/e35\/11349425_1511601642486070_753177743_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1445725991","text":"Seriously
        hiding","from":{"username":"wschenk","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11374591_955491831180543_1527410442_a.jpg","id":"509161","full_name":"Will
        Schenk"},"id":"1103152033336199220"},"user_has_liked":false,"id":"1103152031012554955_509161","user":{"username":"wschenk","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11374591_955491831180543_1527410442_a.jpg","id":"509161","full_name":"Will
        Schenk"}},{"attribution":null,"tags":[],"type":"image","location":{"latitude":40.7089195,"name":"Paperless
        Post","longitude":-74.0114594,"id":234328696},"comments":{"count":0,"data":[]},"filter":"Clarendon","created_time":"1445378750","link":"https:\/\/instagram.com\/p\/9E1bDewQmx\/","likes":{"count":12,"data":[{"username":"heddabird","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-19\/10538747_1478782922369115_1342617348_a.jpg","id":"2479834","full_name":"Hedda
        Burnett"},{"username":"jothamwb","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11887[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1103152031012554955_509161/likes.json?access_token=509161.38c3f84.10f08b0e76634691b6740ac2420a0b11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="509161.38c3f84.10f08b0e76634691b6740ac2420a0b11"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4990'
      Content-Language:
      - en
      X-Ratelimit-Limit:[...]
[...]
