---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=509161.38c3f84.10f08b0e76634691b6740ac2420a0b11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="509161.38c3f84.10f08b0e76634691b6740ac2420a0b11"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"wschenk","bio":"","website":"http:\/\/willschenk.com","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11374591_955491831180543_1527410442_a.jpg","full_name":"Will
        Schenk","counts":{"media":680,"followed_by":191,"follows":224},"id":"509161"}}'
  recorded_at: Tue, 27 Oct 2015 21:11:44 GMT
recorded_with: VCR 2.9.3
